<div id="log"></div>

<h1>Job Queuing Demo</h1>
<table id="job_creation_table">
  <th>Queuing Tech</th>
  <th>Action</th>
  <th>Notes</th>
  
  <tr>
    <td><em>Polling</em></td>
    <td>
      <%= link_to 'new race', 
        {:controller => 'race', :id => 'polling', :action => 'new' }, 
        :remote => false %>
    </td>
    <td>(watch as the browser spins and waits)</td>
  </tr>
  <tr>
    <td><em>Delayed Job</em></td>
    <td>
      <%= link_to 'new race', 
        {:controller => 'race', :id => 'delayed_job', :action => 'new', :format => 'html' },
        :remote => false %>
    </td>
    <td>(browser polls to refresh partial page, watch with firebug etc)</td>
  </tr>
  <tr>
    <td><em>Faye</em></td>
    <td>
      <%= link_to 'new race', 
        {:controller => 'faye', :action => 'index', :format => 'html' }, 
        :remote => false %>
    </td>
    <td></td>
  </tr>
  
</table>