<%# debug params %>

<div class='float_left'>
<h2>Race Results</h2>
<table class='race_table'>
  <tr>
    <td>Race time</td>
    <td><%= @pole_race.judges.first.time %></td>
  </tr>
  <tr>
    <td>Race judge</td>
    <td><%= @pole_race.judges.first.name %></td>
  </tr>
  <tr>
    <td>Racer</td>
    <td><%= @pole_race.racer.name %></td>
  </tr>

</table>
</div>

<div class='float_right'>
<%= image_tag 'flagpole_climber.jpg', :class => 'float_right' %>
</div>