// Place all the styles related to the job controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.race_table {
/*  border-left: 1px solid #eee;*/
/*  border-right: 1px solid #eee;*/
}

.race_table td {
  border: 1px solid #eee;
  margin: 0px;
  padding-right: 0.5em;
}

.float_right {
  float: right;
  margin-right: 15%;
}

.float_left {
  float: left;
}